#div{
    
}
#lmale{

}
#aodot{


top: 100%;

}
#cx{
    position: absolute;
    width: 261px;
    height: 33px;
    left: 620px;
    top: 243px;
    
    font-family: 'Kufam';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */
    
    text-align: center;
    letter-spacing: -0.011em;
    
    color: #2F4B6F;
   

}
#sgol{
    box-sizing: border-box;

position: absolute;
width: 100%;
height: 297px;
left: 2px;
top: 167px;

background: rgba(211, 197, 242, 0.2);
}
#alino{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 12px;
    position: absolute;
    width: 438.6px;
    height: 434px;
    left: 800px;
    top: 533px;
    
}
#picture{
    position: absolute;
width: 372.07px;
height: 361.91px;
left: 157px;
top: 537px;

}
#tip{
    position: absolute;
width: 757px;
height: 637.47px;
left: 26%;
top: 1043px;

    }
    #divblu{
        position: absolute;
        width: 98%;
        height: 305px;
        left: calc(50% - 1437px/2 - 13px);
        top: 1809px;
        
        background: #9CBDFF;
  }