#div{
    position: absolute;
    width: 100%;
    height: 285.99px;
    left: -2px;
    top: 97px;
    background: #FFD5E5;
}

#w{
    position: absolute;
    width: 1263px;
    height: 58.82px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF; 
}
#btbabisiterget{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6.76124px 37.863px;
    gap: 6.76px;
    width: 75%;
    height: 120%;
  
    border-radius: 25.0166px;
    flex: none;
    order: 0;
    flex-grow: 0;

background: #AF8FE9;
border-radius: 100px;
}
#merge{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 28px;

position: absolute;
width: 696.89px;
height: 37.6px;
left: 525px;
top: 77px;
}
.sp{
    width: 100%;
height: 24px;
left: 40%;
font-family: 'Kufam';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-align: center;
letter-spacing: -0.011em;

color: #6A6B6B;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}
#g{
    position: absolute;
    width: 44px;
    height: 24px;
  
    font-family: 'Kufam';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    
    text-align: center;
    letter-spacing: -0.011em;
    top: 30%;
    right: 2%;
    color: #6A6B6B;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}  
#price{
    box-sizing: border-box;
    top: 30%;
    position: absolute;
    width: 198.1px;
    height: 36px;
    left: 80%;
    top: 30%;
    background: #FFFFFF;
    border: 0.676124px solid #878787;
    border-radius: 17.5792px;
    top: 40%;
}
#but{
    position: absolute;
width: 220px;
height: 27px;
left: 86.14px;
top: 16px;
}
#age{
    box-sizing: border-box;
    top: 30%;
    position: absolute;
    width: 198.1px;
    height: 36px;
    left: 65%;
    top: 40%;
    background: #FFFFFF;
    border: 0.676124px solid #878787;
    border-radius: 17.5792px;
    right: 200%;
}
#t{
    position: absolute;
    width: 202.18px;
    height: 35px;
    left: 874.43px;
    top: 462.64px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 29.0733px;
    line-height: 35px;
    text-align: right;
    
    color: #2F4B6F;

}
#za{

    position: absolute;
    width: 85px;
    height: 34px;
    left: calc(50% - 85px/2 + 33.62px);
    top: 15%;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 29.0733px;
    line-height: 34px;
    text-align: right;
    
    color: #2F4B6F;
}
#day{
    box-sizing: border-box;
    top: 30%;
    position: absolute;
    width: 198.1px;
    height: 36px;
    left: 50%;
    top: 30%;
    background: #FFFFFF;
    border: 0.676124px solid #878787;
    border-radius: 17.5792px;
    top: 40%;
}
#part{
    box-sizing: border-box;
    top: 30%;
    position: absolute;
    width: 198.1px;
    height: 36px;
    left: 35%;
    top: 30%;
    background: #FFFFFF;
    border: 0.676124px solid #878787;
    border-radius: 17.5792px;
    top: 40%; 
}
#ne{
    box-sizing: border-box;
    top: 30%;
    position: absolute;
    width: 198.1px;
    height: 36px;
    left: 20%;
    top: 30%;
    background: #FFFFFF;
    border: 0.676124px solid #878787;
    border-radius: 17.5792px;
    top: 40%; 

}
#filter{



box-sizing: border-box;


display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 8.78961px 22.9882px;
gap: 6.76px;

position: absolute;
width: 66.98px;
height: 36px;
left: 14.5%;

top: 40%; 

background: #AF8FE9;
border: 1px solid #AB85FF;
border-radius: 25.0166px;
}
#card{

  
    
}
#CardContent{
    background-color: #AB85FF;
    position: absolute;
    top: 20%;
}
#pagination{
    top: 175%;
    left: 45%;
    
    position: absolute;
}
.checkSearchBabySiterGetById{
    left: 5%;
    top: 40%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6.76124px 18.2554px;
    gap: 6.76px;

    background: #FFFFFF;
    border: 1px solid rgba(109, 148, 228, 0.5);
    border-radius: 25.0166px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
#btsearchbabysiterrr{
    left: 12%;
    top: 17%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6.76124px 18.2554px;
    gap: 6.76px;
    width: 75%;
    height: 120%;
    background: #FFFFFF;
    border: 1px solid rgba(109, 148, 228, 0.5);
    border-radius: 25.0166px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
#tozot{
    position: absolute;
    width: 202.18px;
    height: 35px;
    left: 874.43px;
    top: 462.64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 29.0733px;
    line-height: 35px;
    text-align: right;
    color: #2F4B6F;
}